@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import "tailwindcss";

@theme {
    --color-primary-50: #bce2a3;
    --color-primary-100: #5a724a;
    --color-primary-200: #3a5c2a;
    --color-secondary: #222;
    --color-secondary-text: #818181;
    --color-rust-50: #ffe5ae;
    --color-rust-100: #c8952a;
    --color-rust-200: #e8871a;
    --color-rust-300: #b87333;
    --color-rust-400: #a84b2f;

    --font-serif: 'Playfair Display', Georgia, serif;
    --font-sans: 'DM Sans', sans-serif;
}

